/env
/img
/firstmodel
/prepare
/allimg
/results
/img2
/img3
/secondmodel
/thirdmodel
rename.py
dataset.npy
labels.npy
imgdata.npy
videoimg.npy
videodata.npy
datagen.npy
datatest1119.npy
imggen.npy
imgtest1119.npy
labelsgen.npy
labelstest1119.npy
test_without_bg.gif
test1.png
test15.png
thirdmodel.png
test.png
secondmodel.png